/*
 * Copyright (C) 2025 Texas Instruments Incorporated - https://www.ti.com/
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <ti/am62l3_a53.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include "am62l_badge_am62l3_a53-pinctrl.dts"

/ {
	model = "TI AM62L Badge";
	compatible = "ti,am62l_badge";

	aliases {
		btn-up = &btn_up;
		btn-down = &btn_down;
		btn-left = &btn_left;
		btn-right = &btn_right;
		btn-back = &btn_back;
		btn-select = &btn_select;
		led-red = &led_red;
		led-green = &led_green;
		led-blue = &led_blue;
		buzzer = &buzzer;
		expander = &expander;
	};

	chosen {
		zephyr,console = &main_uart0;
		zephyr,shell-uart = &main_uart0;
		zephyr,sram = &ddr0;
		zephyr,display = &display;
	};

	cpus {
		cpu@0 {
			status = "okay";
		};

		cpu@1 {
			status = "okay";
		};
	};

	ddr0: memory@82000000 {
		reg = <0x82000000 (DT_SIZE_M(128) - DT_SIZE_M(32))>;
	};

	buttons {
		compatible = "gpio-keys";

		btn_up: joystick-up {
			label = "Button UP";
			gpios = <&main_gpio0 32 GPIO_ACTIVE_LOW>; // N19
			zephyr,code = <INPUT_KEY_UP>;
		};

		btn_down: joystick-down {
			label = "Button DOWN";
			gpios = <&main_gpio0 42 GPIO_ACTIVE_LOW>; // L19
			zephyr,code = <INPUT_KEY_DOWN>;
		};
		
		btn_left: joystick-left {
			label = "Button LEFT";
			gpios = <&main_gpio0 31 GPIO_ACTIVE_LOW>; // L21
			zephyr,code = <INPUT_KEY_LEFT>;
		};
		
		btn_right: joystick-right {
			label = "Button RIGHT";
			gpios = <&main_gpio0 95 GPIO_ACTIVE_LOW>; // B13
			zephyr,code = <INPUT_KEY_RIGHT>;
		};

		btn_select: button-select {
			label = "Button SELECT";
			gpios = <&main_gpio0 26 GPIO_ACTIVE_LOW>; // H18
			zephyr,code = <INPUT_KEY_ENTER>;
		};
		
		btn_back: button-back {
			label = "Button BACK";
			gpios = <&main_gpio0 104 GPIO_ACTIVE_LOW>; // D16
			zephyr,code = <INPUT_KEY_BACK>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_green: led_0 {
			gpios = <&main_gpio0 81 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};

		led_blue: led_1 {
			gpios = <&main_gpio0 82 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};

		led_red: led_2 {
			gpios = <&main_gpio0 83 GPIO_ACTIVE_HIGH>;
			label = "Red LED";
		};
	};

	buzzers {
		compatible = "gpio-leds"; // Move this to PWM when that starts working

		buzzer: buzzer_0 {
			gpios = <&main_gpio0 29 GPIO_ACTIVE_HIGH>;
			label = "Buzzer";
		};
	};

	/* Bitbang SPI until real SPI is fixed */
	spibb0: spibb0 {
		compatible = "zephyr,spi-bitbang";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		clk-gpios = <&main_gpio0 89 GPIO_ACTIVE_HIGH>; // E13
		cs-gpios = <&main_gpio0 87 GPIO_ACTIVE_LOW>; // E11
		mosi-gpios = <&main_gpio0 91 GPIO_ACTIVE_HIGH>; // B12
	};

	spibb1: spibb1 {
		compatible = "zephyr,spi-bitbang";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		clk-gpios = <&main_gpio0 20 GPIO_ACTIVE_HIGH>; // H22
		mosi-gpios = <&main_gpio0 18 GPIO_ACTIVE_HIGH>; // J23
		miso-gpios = <&main_gpio0 17 GPIO_ACTIVE_HIGH>; // K22
		cs-gpios = <&main_gpio0 19 GPIO_ACTIVE_LOW>; // K23

		expander: mcp23s18@0 {
			compatible = "microchip,mcp23s17";
			reg = <0>;
			spi-max-frequency = <1000000>;
			gpio-controller;
			#gpio-cells = <2>;
			ngpios = <16>;
			status = "okay";
		};
	};

	sensor_supply: sensor-supply {
		compatible = "regulator-fixed";
		regulator-name = "sensor_supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-gpios = <&wkup_gpio0 1 GPIO_ACTIVE_LOW>;
		regulator-boot-on;
		regulator-always-on;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spibb0>;
//		spi-dev = <&main_spi0>;
//		write-only;

		dc-gpios = <&main_gpio0 90 GPIO_ACTIVE_HIGH>; // E12
		reset-gpios = <&main_gpio0 24 GPIO_ACTIVE_LOW>; // H20

		#address-cells = <1>;
		#size-cells = <0>;

		display: ssd1683fb@0 {
			compatible = "gooddisplay,gdey042t81", "solomon,ssd1683";
			mipi-max-frequency = <4000000>;
			reg = <0>;
			width = <400>;
			height = <300>;
//			rotation = <270>;
			busy-gpios = <&main_gpio0 39 GPIO_ACTIVE_HIGH>; // N21

			tssv = <0x80>; // Internal temp sensor

//			softstart = [8B 9C 96 0F]; // POR		
//			softstart = [8B 9C A4 0F]; // Used for 4Gray?

			full {
//				border-waveform = <0x03>;

//				gdv = [10 0a];
//				sdv = [19];
//				vcom = <0xa8>;

//				lut = [22 55 AA 55 AA 55 AA 11
//				       00 00 00 00 00 00 00 00
//				       1E 1E 1E 1E 1E 1E 1E 1E
//				       01 00 00 00 00];
			};

			partial {
//				border-waveform = <0x05>;

//				gdv = [17];
//				sdv = [28 8F 1E];
//				vcom = <0x30>;
//				border-waveform = <0x71>;

// 0: 
// 4: + (black)
// 8: - (white)

/*
				lut = [	01  01 00 00 00  01 00 // 0 0 0 0
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
// WW (11)
					01  81 00 00 00  01 00 // - - - 0
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
// WB (10)
					01  41 00 00 00  01 00 // + + + 0
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
// BW (01)
					01  81 00 00 00  01 00 // - - - 0
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
// BB (00)
					01  41 00 00 00  01 00 // + + + 0
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00
					00  00 00 00 00  00 00

					00 00 00 00 00 00 00
					00 00 00 00 00 00 00

					05 00 00];
					*/
			};
		};
	};
};

&main_uart0 {
	current-speed = <115200>;
	pinctrl-0 = <&uart0_rx_default>,
		    <&uart0_tx_default>;
	pinctrl-names = "default";
	status = "okay";
};

&main_gpio0_0 {
	pinctrl-0 = <&dc_pins_default>,
		    <&res_pins_default>,
		    <&busy_pins_default>,
		    <&clk_pins_default>,
		    <&cs0_pins_default>,
		    <&mosi_pins_default>,
		    <&button_pins_bank0>,
		    <&buzzer_pins_default>,
		    <&spibb1_pins_default>;
	pinctrl-names = "default";
	status = "okay";
};

&main_gpio0_1 {
	status = "okay";
};

&main_gpio0_2 {
	status = "okay";
};

&main_gpio0_3 {
	status = "okay";
};

&wkup_gpio0 {
	status = "okay";
};

//&main_spi1 {
//	status = "okay";
//	pinctrl-0 = <&main_spi1_clk_default>,
//		    <&main_spi1_cs0_default>,
//		    <&main_spi1_d1_default>;
//	pinctrl-names = "default";
//
//	gpio_expander: mcp23s18@1 {
//		compatible = "microchip,mcp23s18";
//		spi-max-frequency = <0>;
//		reg = <0x01>;
//		gpio-controller;
//		#gpio-cells = <2>;
//		ngpios = <16>;
//	};
//};
